{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent()}}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

        {% block javascripts %}
            {{ parent()}}
            {{ encore_entry_script_tags('homepage') }}
        {% endblock %}

{% block body %}

    <h1>Venez voir l'incroyable !</h1>

    <section class ="container">


            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Label">{{ show.city }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ show.date|date("d/m/Y")}}

                        {{ form_start(form) }}
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        {{ form_end(form) }}
                    </div>

                </div>
            </div>


    </section>

{% endblock %}



