{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent()}}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

        {% block javascripts %}
            {{ parent()}}
            {{ encore_entry_script_tags('homepage') }}
        {% endblock %}

{% block body %}

    <section class="introduction container-fluid">
        <div class="col-6">
        </div>

        <div class="col-6 h-100 align-items-center justify-content-center">
            <div class="text-wrapper">
                <p>Bienvenue dans la magie du</p>
                <h1>Wonder Wild Circus</h1>
            </div>

        </div>

    </section>

    <section class="story container">
        <h2>Venez ecouter notre histoire...</h2>
        <div class="row story-part ">
            <div class="col-sm-12 col-md-6">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
            </div>
            <div class="col parallax-object" id="parallax-object1"><img class="story-picture" src="/images/pictures/acrobat.png"></div>
        </div>

        <div class="row story-part ">
            <div class="col parallax-object"><img class="story-picture" src="/images/pictures/elephant.png"></div>
            <div class="col-sm-12 col-md-6">
                Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est,
            </div>
        </div>

        <div class="row story-part ">
            <div class="col"></div>
            <div class="col-sm-12 col-md-6">
                omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
            </div>
            <div class="col parallax-object" id="parallax-object2"><img class="story-picture" src="/images/pictures/clown.png"></div>
        </div>
    </section>

    <section class ="container">
        <h2>Venez voir l'incroyable !</h2>
        <div class="card-deck">
        {%  for show in shows %}
            <div class="show-perspective">
                <div class="card show-card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{show.city}}</h5>
                        <h6 class="card-title"> Date : {{show.date|date("d/m/Y")}}</h6>
                        <p class="card-text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus.</p>
                        <a href="#" class="btn btn-primary">Reserver des places</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </section>

{% endblock %}



