{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent()}}
    {{ encore_entry_link_tags('artist') }}
{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {{ encore_entry_script_tags('artist') }}
{% endblock %}

{% block title %}Nous avons tous quelque chose de spécial !{% endblock %}

{% block body %}
    <h1>Nous avons tous quelque chose de spécial !</h1>

    <section class="artists container">
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-info" href="{{ path('artist_new') }}"><i class="fas fa-plus mr-1"></i>Ajouter un artiste</a>
        {%  endif %}

        {% for artist in artists %}
            {{ include('artist/_artistLine.html.twig', {'artist': artist}) }}
        {% else %}
            <p colspan="10">Aucun artiste trouvé.</p>
        {% endfor %}
    </section>

{% endblock %}
